body {
  font-family: "Oxygen", sans-serif;
}
.container-fluid {
  margin: 0;
  padding: 0;
}

.navbar {
  border-radius: 0px;
  background-color: rgba(150, 150, 150, 0.8);
}

.navbar-brand {
  font-size: 40px;
  color: rgb(0, 0, 0);
  padding-left: 25px;
}

.navbar-brand:hover {
  color: rgb(255, 255, 255);
}

.nav {
  margin: 0;
  padding: 0;
}

.navbar-nav {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-toggle {
  border: 2px solid rgb(0, 0, 0);
  margin-right: 20px;
}

.icon-bar {
  background-color: rgb(0, 0, 0);
}

.main-title {
  margin-bottom: 20px;
  text-align: center;
  color: #000000;
  font-size: 60px;
  font-family: "Poetsen One", sans-serif;
  font-weight: bold;
}

li {
  box-sizing: border-box;
  width: 100%;
}

.menu-item {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: white;
  border: 2px solid black;
  color: black;
  display: block;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(173, 46, 46, 0.4);
}

.row {
  margin: 20px;
}

.content-box {
  margin: 20px;
  width: auto;
  height: auto;
  color: black;
  background-color: rgba(150, 150, 150, 0.8);
  font-family: "Oxygen", sans-serif;
  padding: 20px;
}

.item-name {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
